@page
@model RazorPagingAdoNet.Pages.UsersModel

<h1>Utenti registrati:</h1>
<hr>
<ul>
    @foreach (var item in Model.User)
    {
        //Qui mostro i campi del database
        <li>Cognome: @item.cognome</li>
        <li>Nome: @item.nome</li>
        <li>Email: @item.email</li>
    }
</ul>