@page
@model RazorPagingAdoNet.Pages.UsersModel

<h1>Utenti registrati:</h1>
<hr>
<ul>
    @foreach (UserViewModel item in Model.Utente.Results)
    {
        <li>Cognome: @item.Cognome</li>
        <li>Nome: @item.Nome</li>
        <li>Email: @item.Email</li>
        <hr>
    }
</ul>